<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link href="/css/connect/register_form.css" rel="stylesheet" type="text/css">

</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <% include connect/connect_form %>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>